# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-deps
.packages
.pub-cache/
.pub/
build/
**/build/
.flutter-plugins
.idea/
.vscode/
android/.gradle/
**/ios/Pods/
**/ios/Flutter/Flutter.podspec
**/xcuserdata/
**/DerivedData/
**/xcshareddata/
*.iml

# macOS
.DS_Store

# Python / FastAPI
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.joblib
*.sqlite3

# Jupyter
.ipynb_checkpoints

# Node/npm
node_modules/

# Misc
*.log
*.env
